@using WebsiteBanHang.Models
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
            <ul class="nav navbar-nav navbar-right mr-3">
                <li style="display: inline; margin-right: 1em;" class="btn btn-warning"><a class="lock" style="text-decoration:none;color:white;" href="@Url.Action("Index", "Home")">Trang bán hàng</a>  </li>
                @if (Session["TaiKhoan"] != null && Session["TaiKhoan"].ToString() != "")
                {
                    ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                    <li class="mr-3">Xin chào @tv.HoTen</li>
                    <li>@*@Html.ActionLink("Đăng xuất", "DangXuatAdmin", "Admin", new { @class = "lock" })*@ <a class="lock" href="@Url.Action("DangXuatAdmin","Admin")">Đăng xuất</a> </li>
                }
                else
                {
                    <li style="display:inline; margin-right:1em;" class="btn btn-primary"><a id="btnDangNhap" class="lock" style="text-decoration:none;color:white;" href="#">Đăng nhập</a></li>
                    <li style="display:inline; margin-right:1em;" class="btn btn-success"><a class="lock" style="text-decoration:none;color:white;" href="@Url.Action("DangKyAdmin", "Admin")">Đăng ký</a></li>
                }
            </ul>
        </li>
    </ul>
</nav>

<!--login form-->

<link href="~/Content/css/Style_form_dangNhap.css" rel='stylesheet' type='text/css' />

<div>
    <br />
    <div id="popup_login">
        <div class="login-form" id="login-form">
            <div id="close_div">
                <span id="close_form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                <!--Dùng ajax để hiển thị thông báo khi đăng nhập-->
                @using (Ajax.BeginForm("DangNhapAdmin", "Admin", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }, htmlAttributes: new { id = "loginFormAdmin" }))
                {

                    <input type="text" class="email" name="txtTenDangNhap" placeholder="Tên đăng nhập" required="" />
                    <input type="password" class="password" name="txtMatKhau" placeholder="Mật khẩu" required="" />
                    <p style="width:100%; text-align:center;"><a href="#">Quên mật khẩu?</a></p>
                    <h3 id="ThongBao" style="font-weight:bold; color:crimson; text-align:center"></h3>
                    <div class="d-flex justify-content-center align-center"  style="width : 100%;">
                        <a style="width:100%;"><input class="btn-summit hvr-sweep-to-left text-center" type="submit" value="Đăng nhập" style="height: 50px; font-size: 16px;" /></a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>

    #close-form {
        color: white;
    }
    

    #popup_login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        text-align: center;
    }

    .btn-summit:hover {
        background: rgba(54, 185, 204);
        color: #fff;
        transition: 0.6s all;
        -webkit-transition: 0.6s all;
        -moz-transition: 0.6s all;
        -o-transition: 0.6s all;
    }

    .btn-summit {
        background: rgba(63, 101, 212);
        color: #fff;
        padding: 15px 60px;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
    }
    #login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #ThongBao {
        font-size: 12px;
        text-align: center;
    }
    #close_div{
        width:100%;
        position:relative;
    }

    #close_form {
        position: absolute;
        top:-10px;
        right:0;
    }
</style>

<script type="text/javascript">
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });
    $("#close_form").click(function () {
        $("#popup_login").hide();
    });
    $(document).ready(function () {
        $('#loginFormAdmin').submit(function (e) {
            e.preventDefault(); // Ngừng hành động submit form mặc định

            $.ajax({
                type: 'POST',
                url: '/Admin/DangNhapAdmin', // Địa chỉ Action controller
                data: $(this).serialize(), // Dữ liệu form
                success: function (response) {
                    // Kiểm tra phản hồi từ server và thực hiện hành động reload
                    if (response === "Đăng nhập thành công!") {
                        window.location.reload(); // Reload trang khi đăng nhập thành công
                    } else {
                        $('#ThongBao').text(response); // Hiển thị thông báo lỗi (nếu có)
                    }
                },
                error: function () {
                    $('#ThongBao').text('Có lỗi xảy ra, vui lòng thử lại!'); // Thông báo lỗi khi có sự cố với Ajax
                }
            });
        });
    });
</script>
