
@{
    ViewBag.Title = "Thành Công";
    Layout = "~/Views/Layout/_LayoutCommon.cshtml";
}

<div class="container"style="display:flex; justify-content:center;">
    <h2>Hoàn tất đặt hàng</h2>
</div>

