@* Dùng viewbag thay vì model để thể hiện tổng số lg sản phẩm có trong giỏ hàng và tổng tiền *@
<div class="cartbox_1">
    <div class="total">
        <a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Giỏ hàng @ViewBag.TongTien.ToString("#,##") VNĐ (<span> @ViewBag.TongSoLuong</span> sp)</a>
    </div>
</div>
<style>
    .cartbox_1{
        width:200px;
        display:flex;
        justify-content:center;
        align-items:center;
        color:white;
    }
    .cartbox_1 a {
        text-align:center;
        text-decoration:none;
        color:white;
    }
</style>